#banner {
  background-image: url("andes.jpg");
  background-size: cover;
  min-height: 650px;
  position: relative;
}

/*Since you are needing this rule for many elements maybe it is easier to do it with a class.*/
.fondobclaro {
  background-color: #d6dde2;
}

.navbar {
  background-color: #6e7377;
}
#imagen {
  position: absolute;
  width: 10rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#imagenLogUni {
  width: 10rem;
  height: 15rem;
}
#imagenLogCol {
  width: 10rem;
  height: 15rem;
}
.espacio {
  height: 50px;
}
.carousel-item {
  width: 100%;
  height: 30rem;
  color: rgb(54, 54, 47);
}
.carousel-item .car {
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.txt {
  background-color: #6e7377;
}
.card {
  width: 18rem;
}
.cards {
  width: auto;
  margin: auto auto;
}
.logro {
  margin: auto;
}
.margen {
  margin-top: 50px;
  margin-bottom: 50px;
}
.titulo {
  background-color: #6e7377;
  color: whitesmoke;
}
.icon {
  width: 4rem;
}
html {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-variant: small-caps;
}
.der {
  text-align: left;
}
